<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Person</title>
  </head>
  <body>
    <form class="" action="/add" method="get">

      <h1>Please provide the following:</h1>

      <p> Name <input name="name" type="text"> </p>

      <p> Phone <input name="phone_number" type="text"> </p>

      <p> Address <input name="address" type="text"> </p>

      <p> Position <input name="position" type="text"> </p>

      <p> Salary <input name="salary" type="text"> </p>

      <p> Slack account <input name="slack_account" type="text"> </p>

      <p> Github account <input name="github_account" type="text"> </p>

      <p>
      <input type="submit" value="Save">
      </p>
    </form>
  </body>
</html>
