<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete a Person</title>
  </head>

  <body>
    <h2>Please input the name of the <br>
      person you would like to delete:</h2>
    <form class="" action="/delete" method="get">
      <input name="name" type="text">
      <input type="submit" value="Submit">
    </form>
  </body>

</html>
