<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Report requet</title>
  </head>

  <body>
    <h2>Are you sure that you would like a report? <br>
      person you are searching for:</h2>
    <form class="" action="/search" method="get">
      <input name="name" type="text">
      <input type="submit" value="Submit">
    </form>
  </body>

</html>
